{% extends "base.html" %}
{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1 class="d-flex justify-content-center">Let's create a language!</h1>
    <p>
      Languages are made of the same basic building blocks. Some letters, arranged in patterns
      called syllables. In reality, letters are just little squiggles on paper that tell your
      muscles when to release air and when to restrict it.
    </p>
    <p>
      So what you're going to do, now, is choose the letters you want. Then you get to pick the
      syllables. randLang will take care of the rest.
    </p>
  </div>
</div>
<form method='POST' action="show_lang">
  {% csrf_token %}
    <ul class="list-group p-3">
      <button type="button" class="btn btn-outline-dark d-inline-block btn-block" data-toggle="modal" data-target="#myModal">
        Let's Add Some Letters!
      </button>
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title">Choose your letters and how often you want to see them</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item">
                <input type="checkbox" name="selectall">Select All Vowels and Consonants
                </li>
              {% for letter in letters %}
              <li class="list-group-item">
                <input type="checkbox" name="letters" value="{{letter}}">
                    {{letter}}  Less
                <input type="range" min="1" max="100" step="10" value="50" class="slider w-50" name="weight">
                More
              </li>
              {% endfor %}
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Choose Letters</button>
            </div>

          </div>
        </div>
      </div>
      </ul>
      <ul class="list-group p-3">
        <button type="button" class="btn btn-outline-dark d-inline-block btn-block" data-toggle="modal" data-target="#sylModal">
          Let's Add Syllable Patterns!
        </button>
        <div class="modal" id="sylModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">Choose your syllable patterns</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                  <li class="list-group-item">
                  <input type="checkbox" name="selectallsyl">Select All Syllable Patterns
                  </li>
                  {% for syl_fab in syl_piece %}
                  <li class="list-group-item">
                          <input type="checkbox" name="syllables" value="{{syl_fab}}">{{syl_fab}}
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Choose Syllables</button>
              </div>
            </div>
          </div>
        </div>
    </ul>
    <ul class="list-group p-3">
      <input type="submit" class="d-inline-block btn btn-outline-dark btn-block">
     </ul>
</form>
{% endblock %}
